:root {
    --background-color: #dfe2ec;
    --main-purple: #331e6d;
    --menu-hover-pink: #bfa8ff66;
    --main-purple-lightened: #331e6d99;
    --light-grey: #c9cacc;
    --text-yellow: #ffc400;
    --text-yellow-lightened: #ffcf31;
    --text-red: #ea4335;
    --text-blue: #4285f4;
    --text-green: #34a853;

    /* Color palette
        - See here: https://mycolor.space/?hex=%23331E6D&sub=1
        - And see https://chir.ag/projects/name-that-color for the color names.
    */
    /* Classy Palette */
    --palette-spun-pearl: #afa8ba;
    --palette-mobster: #7b7485;
    --palette-lonestar: #670000;
    --palette-well-read: #a1392b;
    /* Twisted Spot Palette */
    --palette-carribean-green: #00c9a5;
    --palette-foam: #c5fcef;
    --palette-cutty-sark: #4d8075;
}

body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.btn-group {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.btn-group button {
    background-color: var(--palette-mobster);
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    min-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-group button:hover {
    transform: translate(2px, 2px);
    opacity: 0.8;
}
