:root {
    --background-color: #dfe2ec;
    --main-blue: #331e6d;
    --menu-hover-pink: #bfa8ff66;
    --main-blue-lightened: #331e6d99;
    --light-grey: #c9cacc;
    --text-yellow: #ffcf31;
}

body {
    margin: 0;
    background-color: var(--background-color);
}
